/* iPad Pro/ iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .weather-container{
      
    }
}

/* Mobiles */
@media only screen and (min-width: 200px) and (max-width: 767px){
    input[type=text]{
        width: 98px;
       
    }
   
    input[type=text]:focus{
        width: 60%;
    }

    .search-btn{
        width: 3rem;
        height:3.3rem;
   }
}

/* Galaxy Fold */
@media only screen and (min-width: 200px) and (max-width: 280px){
    
    input[type=text]{
        width: 98px;
       
    }
   
    input[type=text]:focus{
        width: 74%;
    }

    .search-btn{
        width: 3rem;
        height:3.3rem;
   }
}